/* Добавление переключателя темы */

:root {
  background-color: #ffffff;
  color: #000000;
  accent-color: #007bff;
  height: 100%;
}

body {
  /* background-color: var(--background-color); */
  color: var(--text-color);
  height: 100%;
  background: rgb(178,63,255);
background: linear-gradient(135deg, rgba(178,63,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(66,255,234,1) 100%);
}

a {
  color: var(--accent-color);
}

body.dark-theme {
  /* background-color: #222222;  */
  color: #ffffff;
  accent-color: #00a7ff;
  height: 100%;
  background: rgb(202, 55, 86);
  background: linear-gradient(135deg, rgba(202, 55, 86,1) 0%, rgba(10, 10, 12,1) 25%, rgba(10, 10, 12,1) 75%, rgba(247, 218, 223,1) 100%);
}

.theme_switch {
  border-radius: 5px;
}

/* Окончание кода переключателя темы */

.header {
  width: 100%;
  height: 50px;
}

.sphereCanvas {
  --sphere-color1: #b23fff;
  --sphere-color2: #42ffea;
  --ring-color: #00c8ff;
  --sphere-radius: 2;
  --sphere-width-segments: 325;
  --sphere-height-segments: 325;
  --camera-position-z: 5;
  --renderer-width: 400;
  --renderer-height: 375;
}

.sphereCanvas.dark-theme {

  --sphere-color1: #ff3f3f;
  --sphere-color2: #200101;
  --ring-color: rgb(192, 180, 180);
  --sphere-radius: 2;
  --sphere-width-segments: 325;
  --sphere-height-segments: 325;
  --camera-position-z: 5;
  --renderer-width: 400;
  --renderer-height: 375;
}

#sphereContainer canvas {
  display: block;
  margin: 0 auto;
}

.container_1 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}


.container_2 {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
}

.container_main {
    margin-top: 5%;
    display: flex;
    margin-left: 0%;
}

.TextEncryptionHeader, .TextDecryptionHeader{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.2;
  cursor: default;
}

.TextEncryptionHeader:hover, .TextDecryptionHeader:hover{
  color: transparent;
  background-image: linear-gradient(90deg, #15CBF4 0%, #b621fe 100%);
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.6s linear;
}

#decryptionResult {
  position: relative; /* Делает блок относительно позиционированным, чтобы кнопка могла быть абсолютно позиционирована относительно него */
}

#encryptionResult {
  position: relative; /* Делает блок относительно позиционированным, чтобы кнопка могла быть абсолютно позиционирована относительно него */
}

.copy-btn {
  font-size: 0.8em; /* Уменьшает размер иконки */
  z-index: 100;
  cursor: pointer;
  font-weight: 100;
  border: none;
  background: none;
  padding: 0;
  position: absolute; /* Позиционирует кнопку относительно ближайшего позиционированного предка (в данном случае, #decryptionResult) */
  top: 0; /* Позиционирует кнопку в верхнем углу */
  right: 0; /* Позиционирует кнопку в правом углу */
  width: 35px; /* Уменьшает ширину кнопки */
  height: 35px; /* Уменьшает высоту кнопки */
}


.best_button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 8px;
  margin-top: 10px;
}



.encrypt_button, .decrypt_button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 8px;
  margin-top: 10px;
  width: 50px; /* Установите ширину кнопки */
  height: 50px; /* Установите высоту кнопки */
  padding: 0; /* Удалите отступы, чтобы иконка занимала всю область кнопки */
  display: flex; /* Используйте flexbox для центрирования иконки */
  justify-content: center; /* Центрируйте иконку по горизонтали */
  align-items: center; /* Центрируйте иконку по вертикали */
}


button{
  width: 150px;
  height: 50px;
  border-radius : 3em;
  padding:1.2em 1em;
  background-image: linear-gradient(90deg,#3e56a7,#04acff,#35a1e0,#3e56a7,#14accc);
  background-size:400%;
  cursor: pointer;
  border: none;
  color: white;
  transition: 500ms;
  position: relative;
}

button:before, button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 75px;
  height: 0px; 
  background: transparent;
  transition: 500ms;
  border: none;
}

button:before {
  transform: translateX(-50px) translateY(27px);
  box-shadow: 5px 5px 16px #61cdff;
}

button:after {
  transform: translateX(-25px) translateY(27px);
  box-shadow: -5px 5px 16px #1fd1f9;
}

button:hover{
  animation: animate 3s ease-out infinite;
}

button:hover{
  text-shadow:0 0 .5em rgba(255,255,255,0.8);
}

button.copy-btn:hover {
  animation: none;
}

@keyframes animate{
  0%{
    background-position : 0%;
    box-shadow: 0 0 .8em #04acff;
  }
  50%{
    background-position: 60%;
    box-shadow: 0 0 .8em #1ad0e1;
  }
  100%{
    background-position: 100%;
    box-shadow: 0 0 .8em #3e56a7;
  }
}


/* button:focus {
  outline: none;
}

.button_for_copy {
  margin-top: 20px;
  background-color: transparent;
} */